<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/content/css/bootstrap.min.css">
        
        {{{_sections.head}}}
    </head>
    <body>
        {{{body}}}

        <!-- Template JavaScript -->
        <script src="content/js/jquery-3.3.1.slim.min.js"></script>
        <script src="content/js/popper.min.js"></script>
        <script src="content/js/bootstrap.min.js"></script>
        {{{_sections.scripts}}}
    </body>
</html>